input {
    focus-follows-mouse

    keyboard {
        xkb {
            rules "evdev"
            model "pc105"
            layout "de"
            variant "nodeadkeys"
        }
        numlock
    }
    touchpad {
        tap
        natural-scroll
    }
    mouse {
    }
    trackpoint {
    }
}
