{ pkgs, lib, ... }:

{
  imports = [ ];

  services.xserver.videoDrivers = [ "nvidia" ];

  hardware.graphics = {
    enable = true;
  };

  environment.systemPackages = with pkgs; [
    nvidia-vaapi-driver
  ];
}
